<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Foxoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Foxoft.Properties.Settings.MainConnString" connectionString="Data Source=.\SUBSQL;Initial Catalog=Main;Persist Security Info=True;TrustServerCertificate=True;User ID=sa;Password=sql123_" />
        <add name="Foxoft.Properties.Settings.SubConnString" connectionString="Data Source=.\SUBSQL;Initial Catalog=Subhan;Persist Security Info=True;TrustServerCertificate=True;User ID=sa;Password=sql123_" />
    </connectionStrings>
    <userSettings>
        <Foxoft.Properties.Settings>
            <setting name="LoginName" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridViewLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="OfficeCode" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreCode" serializeAs="String">
                <value />
            </setting>
            <setting name="WarehouseCode" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenDocNum" serializeAs="String">
                <value />
            </setting>
            <setting name="TerminalId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompanyCode" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyId" serializeAs="String">
                <value>0</value>
            </setting>
        </Foxoft.Properties.Settings>
    </userSettings>
</configuration>