
select [PaymentLineId]
, [TrPaymentHeaders].[PaymentHeaderId]
, [PaymentTypeCode]
, [Payment]
, [LineDescription]
, [TrPaymentHeaders].[CreatedUserName]
, [TrPaymentHeaders].[CreatedDate]
, [TrPaymentHeaders].[LastUpdatedUserName]
, [TrPaymentHeaders].[LastUpdatedDate]
, [PaymentLoc]
, [CashRegisterCode]
, [InvoiceHeaderId]
, [DocumentNumber]
, [DocumentDate]
, [DocumentTime]
, [OperationDate]
, [OperationTime]
, [CurrAccCode]
, [Description]
, [OperationType]
, [CompanyCode]
, [OfficeCode]
, [StoreCode]
, [PosterminalId]
, [IsCompleted]
, [IsLocked]
from [TrPaymentLines]
join [TrPaymentHeaders] on [TrPaymentLines].[PaymentHeaderId] = [TrPaymentHeaders].[PaymentHeaderId]
where OperationType = 'invoice'