<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Foxoft.Properties.Settings.MainConnString" connectionString="Data Source=.\SUBSQL;Initial Catalog=Main;Persist Security Info=True;TrustServerCertificate=True;User ID=sa;Password=sql123_" />
        <add name="Foxoft.Properties.Settings.SubConnString" connectionString="Data Source=.\SUBSQL;Initial Catalog=Tokla;Persist Security Info=True;TrustServerCertificate=True;MultipleActiveResultSets=True;User ID=sa;Password=sql123_" />
    </connectionStrings>
</configuration>